
.card{
    display: flex;
    flex-direction: column;
    height: 58vh;
    width:40vh;
    background-color: floralwhite;
    border-radius:2vh;
    padding: 2vh;
    text-align: center;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #a6d3d3;
}

.card img{
    width: 40vh;
    margin: 0vh ;
    border-radius: 1vh;
}